
body {
    overflow-x: hidden;
    background-color: #f4f4f4;
}

#carousel-image-1 {
    background-image: url(/img/carousel1.jpg);
}
#carousel-image-2 {
    background-image: url(../img/carousel2.jpg);
}
#carousel-image-3 {
    background-image: url(../img/carousel3.jpg);
}

.carousel-item {
    height: 100vh;
    width: 100%;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-caption {
    align-content:
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
  }


  /*Center-Out transition*/
  .nav-menu {
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
    margin-right: 10px;
  }
  .nav-menu:last-child {
    margin-right: 0;
  }
  
  .nav-menu:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width 0.3s ease, background-color .5s ease;
  }
  .nav-menu:hover:after {
    width: 100%;
    background: #1695E1;
  }

.navbar-dark .navbar-text a:link,
.navbar-dark .navbar-text a:visited {
    color: #fff;
}

.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:active {
    color: #1695E1;
    transition: color 0.3s;
}

/*About page*/
.img-logo img{
    height: 50%;
    width: 75%;
}