
body {
    overflow-x: hidden;
    background-color: #f4f4f4;
}

#carousel-image-1 {
    background-image: url(/img/carousel1.jpg);
}
#carousel-image-2 {
    background-image: url(../img/carousel2.jpg);
}
#carousel-image-3 {
    background-image: url(../img/carousel3.jpg);
}

.carousel-item {
    height: 100vh;
    width: 100%;
    background: no-repeat center center scroll;
    background-size: cover;
}
/*Makes white font stand out*/
.carousel-caption {
    position: absolute;
    top: 38%;
    text-transform: uppercase;
}
.carousel-caption h1{
    font-weight: 400;
    letter-spacing: .1rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
  }

  /*Center-Out transition*/
  .nav-menu {
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
    margin-right: 10px;
  }
  .nav-menu:last-child {
    margin-right: 0;
  }
  
  .nav-menu:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width 0.3s ease, background-color .5s ease;
  }
  .nav-menu:hover:after {
    width: 100%;
    background: #1695E1;
  }

.navbar-dark .navbar-text a:link,
.navbar-dark .navbar-text a:visited,
#programs a:link,
#programs a:visited {
    color: #fff;
}

.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:active,
#programs a:hover,
#programs a:active {
    color: #1695E1;
    transition: color 0.3s;
}

/*About page*/
#about {
    height: 100vh;
}
.img-logo img{
    height: 50%;
    width: 75%;
}

/* Programs*/
#programs img {
    width: 100%;
    height: auto;
    opacity: 0.6;
    transform: scale(1.0);
}
#programs img:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    opacity: .65;
}
.no-padding [class*=col-]{
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

#programs h1 {
    position: absolute;
    font-size: 3rem;
    color: #fff;
    top: 30%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: .1rem .1rem .7rem #000;
}

#programs a {
    position: absolute;
    color: #fff;
    font-size: 4rem;
    top: 45%;
    width: 100%;
    text-align: center;
}

/*Testimonials*/
#testimonials img {
    margin-top: -120px; 
}
#testimonials .card:hover {
    background: #1695E1;
    color: #fff;
    transition: background-color 1.0s; 
}
#testimonials span {
    font-size: 2rem;
}

/*Contact*/
#contact {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/south.jpg);
    background-size: cover;
}
.dark-overlay:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }